@import "tailwindcss";

.bottom-gradient {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 100px;
  background: linear-gradient(to top, white 0, transparent 50%);
  z-index: 10;
  pointer-events: none;

  /* 🔥 Add slide and fade transitions */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.1s ease, transform 0.3s ease;
}

.hide-gradient {
  opacity: 0;
  /* transform: translateY(20px); You can tweak this */
}
